name: filter actions

on:
    workflow_dispatch: 
    push: 
        branches: 
            - main
            - '!feature/'
    pull_request: 
        types:
            - opened
            - closed
        paths-ignore:
            - README.md
        branches:
            - main

jobs:
    hello:
        runs-on: ubuntu-latest
        steps:
            - name: print trigger
              run: echo ${{ github.event_name}}